extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/products.css")
block content
    //- Product banner/ Top Half
    div.product-detail
        div.product-listing__detail
            div.product-listing__left
                div.product-listing__image
                    div
                        a(href=`/products/${product.id}`): img(src=`${product.photoURL}`).product-image
                div.product-listing__info
                    div.product-info
                        div.product-info__name
                            span=product.name
                        div.product-info__creator
                            span Created By:
                                a(href=`/users/${product.userId}`)   #{user.firstName} #{user.lastName}
                    div
                        div.product-info__description
                            p=product.description
            div.product-listing__right
                div.product-listing__buttons
                    //- CREATE UPVOTE BUTTON HERE

        div.user
            div.user__pic-container
                a(href=`/users/${user.id}`): img(src=`${user.profilePicURL}`).user__pic
            div.user-info
                div.user-info__name
                    span #{user.firstName} #{user.lastName}
                div.user-info__stats 
                    span Products Created: #{userProducts.count}

    //- Bottom Half
    div
        //- Product Info/ Discussion
        //- Creator Info
        div
