extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/product-listing.css")
    script(type='text/javascript' src='/javascripts/comments.js')
block content
    div.wrapper
        div.product-detail
            div.product-listing__detail
                div.product-listing__image
                    div
                        a(href=`/products/${product.id}`): img(src=`${product.photoURL}`).product-image
                    div.product-listing__info
                        div.product-info__name
                            span=product.name
                        div.product-info__creator
                            span Created By:
                            a(href=`/users/${product.userId}`)   #{creator.firstName} #{creator.lastName}
                        div.product-info__description
                            p=product.description
            //- div.product-listing__right
            //-     div.product-listing__buttons
                    //- CREATE UPVOTE BUTTON HERE
                //- div.user-info__stats
                //-     span Products Created: #{creatorProducts.count}
            div.comments
                form(class='comment-form' method='post' action=`/products/${product.id}/comments`)
                    input(class='productId' type='hidden' value = productId)
                    label(for='content') #{user.userName}:
                    textarea(name='content' id='content' placeholder='Leave a Comment' required)
                    button(type='submit') Submit
            div.old-comments
                ul.old-comments-list
                    each comment in comments
                        li.old-comments-list
                            div.commentor= comment.User.userName
                            div.comment-time= comment.createdAt
                            div.comment-body= comment.content
