extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/products.css")
block content

    div.product-list
        p.product-list__label Most Recent
        if products && products.length > 0
            each product in products
                div.product-listing
                    div.product-listing__left
                        div.product-listing__image
                            div
                                a(href=`/products/${product.id}`): img(src=`${product.photoURL}`).product-image
                        div.product-listing__info
                            div.product-info
                                div.product-info__name
                                    span=product.name
                                div.product-info__creator
                                    span Created By:
                                        a(href=`/users/${product.userId}`)   #{product.User.firstName} #{product.User.lastName}
                            div
                                div.product-info__summary
                                    span=product.summary
                    div.product-listing__right
                        div.product-listing__buttons
                            a(href=`/products/${product.id}`): button Details Page
                        div.product-listing__createdAt
                            span Launched: #{product.createdAt.toLocaleDateString(undefined)}
