extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/product-listing.css")
    script(type='text/javascript' src='/javascripts/comments.js')
block content
    div.wrapper
        div.product-detail
            div.product-listing__detail
                div.product-listing__image
                    div.img-wrapper
                        a(href=`/products/${product.id}`): img(src=`${product.photoURL}`).product-image
                    div.product-listing__info
                        div.product-info__name
                            span=product.name
                        div.product-info__creator
                            span Created By:
                            a(href=`/users/${product.userId}`)   #{creator.firstName} #{creator.lastName}


                            div.product-info__description
                                p=product.description
            //- div.product-listing__right
            //-     div.product-listing__buttons
                    //- CREATE UPVOTE BUTTON HERE
                //- div.user-info__stats
                //-     span Products Created: #{creatorProducts.count}
            div.comments

                div.comments-container
                    form(class='comment-form' method='post' action=`/products/${product.id}/comments`)
                        input(class='productId' type='hidden' value = productId)
                        label(class = 'userName' for='content') #{user.userName}:
                        div.submit-container
                            textarea(class = "textarea" name='content' id='content' placeholder='Leave a Comment' required)
                        button#comment-btn(type='submit') Submit
                a(href=`/products/`): button#return-btn Products

                div.new-comments
                div.old-comments
                    each comment in comments
                        div.full-comment
                            div.commentor= comment.User.userName
                            div.comment-time on #{comment.createdAt.toLocaleDateString(undefined)}
                            div.comment-body= comment.content