extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/index.css")
block content
    //- Product banner/ Top Half
    div

        div
            div
                a(href=`/users/${user.id}`): img(src=`${user.profilePicURL}`)
        div
            div
                span #{user.firstName} #{user.lastName}
            div
                p Contact Creator:
                span #{user.emailAddress}
            div
                but
    //- Bottom Half
    div
        //- Created products
        div

        //- Upvotes on any Product
        div
            div

            div
                //- comments
        //- Creator Info
        div
            div
                span Joined: #{user.createdAt}

                div
                    span #{user.firstName} #{user.lastName}
                    form(method="get" action="/products/new-product"): button(type="submit") Create Product
