include utils.pug
if(signupErrors)
    div(style="display:block").modal-sign-up.modal
        div.modal-signUp
           <img class='diy-logo' src="https://res.cloudinary.com/dbu0tmeuc/image/upload/v1618176454/diy-logo-2_wpov67.png" alt="logo" />
            div#signup-errors
                +validationErrorsSummary(signupErrors)
                form(method="post" action="/users/signup")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    input(type="hidden" value=pugFile name=pugFile)
                    +field("First Name", "firstNameSignup", null)
                    +field("Last Name", "lastNameSignup", null)
                    +field("Username", "userNameSignup", null)
                    +field("Email Address", "emailAddressSignup", null, "email")
                    +field("Profile Pic URL", "profilePicURLSignup", "")
                    +field("Password", "passwordSignup", null, "password")
                    +field("Confirm Password", "confirmPassword", null, "password")
                    div#signup-btns
                        div#signup-btn
                            button(type="submit") Sign Up
                        div#user-signup-demo
                            a(href="/users/demo-login"): button#user-signup-demo-btn Demo Login
                        button.signup-cancel Cancel
                div.no-acct-container
                    a(class='no-acct' href="/users/signup") Don't Have An Account?
                    p
else
    div(style="display:none").modal-sign-up.modal
        div.modal-signUp
           <img class='diy-logo' src="https://res.cloudinary.com/dbu0tmeuc/image/upload/v1618176454/diy-logo-2_wpov67.png" alt="logo" />
            div#signup-errors
                +validationErrorsSummary(signupErrors)
                form(method="post" action="/users/signup")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    input(type="hidden" value=pugFile name=pugFile)
                    +field("First Name", "firstNameSignup", null)
                    +field("Last Name", "lastNameSignup", null)
                    +field("Username", "userNameSignup", null)
                    +field("Email Address", "emailAddressSignup", null, "email")
                    +field("Profile Pic URL", "profilePicURLSignup", "")
                    +field("Password", "passwordSignup", null, "password")
                    +field("Confirm Password", "confirmPassword", null, "password")
                    div#signup-btns
                        div#signup-btn
                            button(type="submit") Sign Up
                        div#user-signup-demo
                            a(href="/users/demo-login"): button#user-signup-demo-btn Demo Login
                        button.signup-cancel Cancel
                div.no-acct-container
                    a(class='no-acct' href="/users/signup") Don't Have An Account?
                    p
