include utils.pug
if(loginErrors)
    div(style="display:block").modal-log-in.modal
        div.modal-login
            <a href="https://res.cloudinary.com/dse6ebwba/image/upload/c_scale,w_50/v1617760512/logo_iyted7.png"><img src=https://res.cloudinary.com/dse6ebwba/image/upload/c_scale,w_100/v1617760512/logo_iyted7.png alt="logo" border="0"></a>
            div#signup-errors
                +validationErrorsSummary(loginErrors)
                form(method="post" action="/users/login")
                    input(type="hidden" value=csrfToken name="_csrf")
                    input(type="hidden" value=pugFile name=pugFile)
                    +field("User Name", "userNameLogin", null)
                    +field("Password", "passwordLogin", null, "password")
                    div#log-in-btn
                        button(type="submit") Log In
                //- div#user-login-demo
                //-     a(href='/users/demo-login'): button#user-login-demo-btn Demo Login
                button.login-cancel Cancel
                div
                    a(href="/users/signup") Don't Have An Account?
                    p
else
    div(style="display:none").modal-log-in.modal
        div.modal-login
            <a href="https://res.cloudinary.com/dse6ebwba/image/upload/c_scale,w_50/v1617760512/logo_iyted7.png"><img src=https://res.cloudinary.com/dse6ebwba/image/upload/c_scale,w_100/v1617760512/logo_iyted7.png alt="logo" border="0"></a>
            div#signup-errors
                +validationErrorsSummary(loginErrors)
                form(method="post" action="/users/login")
                    input(type="hidden" value=csrfToken name="_csrf")
                    input(type="hidden" value=pugFile name=pugFile)
                    +field("User Name", "userNameLogin", null)
                    +field("Password", "passwordLogin", null, "password")
                    div#log-in-btn
                        button(type="submit") Log In
                //- div#user-login-demo
                //-     a(href='/users/demo-login'): button#user-login-demo-btn Demo Login
                button.login-cancel Cancel
                div
                    a(href="/users/signup") Don't Have An Account?
                    p
