extends layout.pug

include utils.pug
block head
    link(rel="stylesheet", href="/stylesheets/user-profile.css")
    script(src="/javascripts/user-profile.js" type="module")

block content
    div#delete-profile-errors
        +validationErrorsSummary(errors)
    div(style="display: none").modal#modal-edit-profile
        div.modal-edit-profile
            <a href="https://res.cloudinary.com/dse6ebwba/image/upload/c_scale,w_50/v1617760512/logo_iyted7.png"><img src=https://res.cloudinary.com/dse6ebwba/image/upload/c_scale,w_100/v1617760512/logo_iyted7.png alt="logo" border="0"></a>
            div#signup-errors
                div#edit-profile-errors
                form
                    input(type="hidden" name="userId" id="user-id" value=user.id)
                    input(type="hidden" name="_csrf" value=csrfToken)
                    +field("First Name", "firstName", user.firstName)
                    +field("Last Name", "lastName", user.lastName)
                    +field("Username", "userName", user.userName)
                    +field("Email Address", "emailAddress", user.emailAddress, "email")
                    +field("Profile Pic URL", "profilePicURL", user.profilePicURL)
                    +field("Confirm Password", "password", null, "password")
                    div
                        button.edit-btn Edit Profile
                        button.edit-btn-cancel Cancel
    div(style="display: none").modal#modal-delete-profile
        div.modal-delete-profile
            <a href="https://res.cloudinary.com/dse6ebwba/image/upload/c_scale,w_50/v1617760512/logo_iyted7.png"><img src=https://res.cloudinary.com/dse6ebwba/image/upload/c_scale,w_100/v1617760512/logo_iyted7.png alt="logo" border="0"></a>
            div#signup-errors
                div#delete-profile-errors
                p Are you sure you want to delete your profile? This process is irreversible.
                form(method="post" action=`/users/${user.id}/delete`)
                    input(type="hidden" name="userIdDelete" id="user-id-delete" value=user.id)
                    input(type="hidden" name="_csrf" value=csrfToken)
                    +field("Confirm Password", "passwordDelete", null, "password")
                    div
                        button(type="submit").delete-btn Delete
                        button.delete-btn-cancel Cancel
    div.profile
        div.profile-user__pic-container
            a(href=`/users/${user.id}`): img(src=`${user.profilePicURL}`).profile-user__pic#image
        div.profile-user__name
            span#full-name #{user.firstName} #{user.lastName}
        div.profile-user__username
            span#username #{user.userName}
        div.profile-user__contact
            span#contact Contact Me: #{user.emailAddress}
        div.profile-user__joinday
            span Member Since: 🎂 #{date}
        div.profile-user__edit
            if req && req.session && req.session.auth && req.session.auth.userId === user.id
                button.edit-profile-btn Edit Profile
        div.products-label
            if req && req.session && req.session.auth && req.session.auth.userId === user.id
                span Your Products
            else
                span #{user.firstName}'s Products
        div.create-product-button
            if req && req.session && req.session.auth && req.session.auth.userId === user.id
                a(href=`/products/new-product`): button Create!
        div.profile-products__table-container
            table.profile-products__table
                thead
                    tr.profile-products__table__row-head
                        th Product Name
                        th Created On
                        if req && req.session && req.session.auth && req.session.auth.userId === user.id
                            th Unlist
                tbody#product-table
                    each product, index in user.Products
                        tr.profile-products__table__row-data
                            td.table__product-name: a(href=`/products/${product.id}`) #{product.name}
                            td.table__date #{product.createdAt.toLocaleDateString(undefined)}
                            if req && req.session && req.session.auth && req.session.auth.userId === user.id
                                td: button(class="delete-product" id=`delete-product-${index}` value=`${product.id}`): img( id='trashcan' src='https://res.cloudinary.com/dbu0tmeuc/image/upload/v1618169941/trash-can-1778449-1515973_qx4ncv.png')
        div.profile-delete
            if req && req.session && req.session.auth && req.session.auth.userId === user.id
                a(href=`/users/${user.id}/delete`): button.delete-profile-btn Delete Profile
